/*
1.Posicionamiento
2.Modelo de caja (Box model)
3.Tipografia
4.Efectos visuales
5.Miselaneos u otros
*/
html.principal{
    background-image: url("./img/fondo principal.jpg");
}

:root{
    /*Implementar variables */
    --blue-btn: #3E66FB;
    --yellow-title: #FFCB05;
    --blue-border-title:#2B72B9;
}

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
/*
font-family: 'ABeeZee', sans-serif; para la informacion
font-family: 'Aclonica', sans-serif;  para los titulos
*/
body{
    min-width: 288px;
}

html{
    font-size: 62.5%;
    
}

header{
    display: inline block;
    width: 100%;
    min-width: 288px;
    max-width: 111px;
    height: 210px;
    
}


.logo-padre{
    display: flex;
    width: 150%;
    align-content: space-between;
    align-items: center;
}

.pokedex {
    width: 75%;
}

.pokeball {
    width: 15%
}

h1.title{
    width:50%;
    font-family: 'Aclonica', sans-serif;
    font-size: 7vmax;
    color: var(--yellow-title);
    text-shadow: 4px 2px 1px var(--blue-border-title);
    display: inline-block;
    margin: 20px;
    text-align: right;
}

nav{
    display: flex;
    margin-left: 1000px;
}

.menu{
    width: 200px;
    height: 45px;
    right: 300px;
    top: 25px;
    border-radius: 5px;
}

.menu ul {
    list-style: none;
    position: sticky;
    top: 20px;
}
.menu a {
    width: 200px;
    height: 45px;
    padding: 1em;
    background: #4891D1;
    font-family: 'ABeeZee', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    display: flex;
}

.menu a:hover {
    width: 200px;
    height: 45px;
    background-color: #484DD1;
}
.menu ul li ul {
    width: 200px;
    height: 45px;
    display: none;
}
.menu ul li a:hover + ul, .menu ul li ul:hover {
    width: 200px;
    height: 45px;
    display: block;
}

.container--cards{
    margin: 15px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #fff;
    font-family: 'ABeeZee', sans-serif;
    font-size: 15px;
    border-style: dashed;
}

.pokemoncard{
    margin: 60px;
    border-style: outset;
    border-radius:16px;
    box-shadow:  9px 9px 21px #D14891;
    background-color:#FFA500;
    border: 2px solid #484DD1;
    width:10em;
    height:15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-text{
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.circle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: #48D1CC;
    border: 5px groove #FF6347;
    padding-top: 10px;
    margin: 1em auto 1em;
}

.rectangle {
    width: 120px; 
    height: 60px; 
    border: 1px ridge #FF6347;
    background: #4891D1;
    border-radius:7px;
    margin: 1em auto 1em;
}

.container--btns{
    margin: 5px 50px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button{
    width: 80px;
    height: 32px;
    top: -3px;
    border-radius: 10px;
    margin: 8px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    font-family: 'ABeeZee', sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

button.grass{
    background-color: #246966;
}

button.poison{
    background-color: #cc48d1;
}

button.fire{
    background-color:#FF5733;
}

button.flying{
    background-color: #48d1cc;
}

button.water{
    background-color: #484DD1;
}

button.bug{
    background-color: #92D148;
}

button.normal{
    background-color: #D14891;
}

button.electric{
    background-color: #FFC300 ;
}

button.ground{
    background-color: #798A89;
}

button.fighting{
    background-color: #D1484D;
}

button.psychic{
    background-color: #C70039 ;
}

button.rock{
    background-color: #d1cc48;
}

button.ghost{
    background-color: #8848D1;
}

button.ice{
    background-color: #4891D1;
}

button.dragon{
    background-color:#900C3F;
}

button.dark{
    background-color: #091A1A;
}

button.steel{
    background-color: #123433;
}

button.fairy{
    background-color: #6548D1;
}

.kantostart{
    position: absolute;
    width: 241px;
    height: 158px;
    left: 94px;
    top: 431px;
    border-radius: 25px;
}

.pokemonstart{
    position: absolute;
    width: 285.78px;
    height: 163.96px;
    left: 496.36px;
    top: 431px;
    border-radius: 25px;
    transform: rotate(0.13deg);
}

.jothostart{
    position: absolute;
    width: 271px;
    height: 164px;
    left: 900px;
    top: 432px;
    border-radius: 25px;
}





